<br/>
<div class="container">
<div class="card">
  <h5 class="card-header text-white bg-secondary mb-3">Déclarer un problème</h5>
  <div class="card-body">
    <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>
    <form class="form-horizontal"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="problemeForm">
      <div class="form-group row">
        <label for="prenomProblemeId" class="col-sm-2 col-form-label text-right">Prenom:</label>
        <div class="col-md-10">
          <input type="text" 
          class="form-control" 
          id="prenomProblemeId" 
          placeholder="Votre prénom ici (obligatoire)" 
          formControlName="prenomProbleme"
          [ngClass]="{'is-invalid': (problemeForm.get('prenomProbleme').touched ||
          problemeForm.get('prenomProbleme').dirty) &&
          problemeForm.get('prenomProbleme').errors
           ,
          'is-valid': (problemeForm.get('prenomProbleme').touched ||
          problemeForm.get('prenomProbleme').dirty) &&
          !problemeForm.get('prenomProbleme').errors}"
          />
            <span class ="form-text" *ngIf="(problemeForm.get('prenomProbleme').touched ||
              problemeForm.get('prenomProbleme').dirty) &&
              problemeForm.get('prenomProbleme').errors">       
                <span *ngIf="!problemeForm.get('prenomProbleme').errors.sansEspaces">
                  <small class="text-muted">
                    Merci de saisir votre prénom.
                 </small>
               
              </span>
              
                <span *ngIf="!problemeForm.get('prenomProbleme').errors.longueurMinimum">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                 </small>
                </span>  
            </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="nomProblemeId" class="col-sm-2 col-form-label text-right">Nom:</label>
        <div class="col-md-10">
          <input type="text" 
          class="form-control" 
          id="nomProblemeId" 
          placeholder="Votre nom ici (obligatoire)" 
          formControlName="nomProbleme"
          [ngClass]="{'is-invalid': (problemeForm.get('nomProbleme').touched ||
          problemeForm.get('nomProbleme').dirty) &&
          problemeForm.get('nomProbleme').errors
           ,
          'is-valid': (problemeForm.get('nomProbleme').touched ||
          problemeForm.get('nomProbleme').dirty) &&
          !problemeForm.get('nomProbleme').errors}"
          />
            <span class ="form-text" *ngIf="(problemeForm.get('nomProbleme').touched ||
              problemeForm.get('nomProbleme').dirty) &&
              problemeForm.get('nomProbleme').errors">       
                <span *ngIf="!problemeForm.get('nomProbleme').errors.sansEspaces">
                  <small class="text-muted">
                    Merci de saisir votre nom.
                 </small>
               
              </span>
              
                <span *ngIf="!problemeForm.get('nomProbleme').errors.longueurMinimum">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                 </small>
                </span>  
            </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="noTypeId" class="col-md-2 col-form-label text-right"> Type :</label>
        <div class="col-sm-10">
          <select class="form-control"
          id="noTypeId"
          formControlName="noType"
          [ngClass]="{'is-invalid': (problemeForm.get('noType').touched ||
          problemeForm.get('noType').dirty) &&
          problemeForm.get('noType').errors
           ,
          'is-valid': (problemeForm.get('noType').touched ||
          problemeForm.get('noType').dirty) &&
          !problemeForm.get('noType').errors }"
          >
              <option value="">Sélectionner un type de problème (obligatoire)</option>
              <option *ngFor="let typ of typesProblemes" [value]="typ.id">{{typ.descriptionType}}</option>
        </select>
        <span class ="form-text" *ngIf="(problemeForm.get('noType').touched ||
              problemeForm.get('noType').dirty) &&
              problemeForm.get('noType').errors"> 
        <span *ngIf="problemeForm.get('noType').errors.required">
          <small class="text-muted">
            Veuillez sélectionner un type de problème.
         </small>
        </span>  
        </span>
       </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2"></div>
          <label for ="notificationId" class ="col-md-10 col-form-label">Choix de la notification :</label>
          <div class="col-md-2"></div>
          <div class="col-md-10">
              <label class="radio-inline">
                <input type="radio"
                       value="PasMeNotifier"
                       id="notificationId"
                       formControlName="notification">&nbsp;Ne pas me notifier
              </label>
              &nbsp;&nbsp;&nbsp;
              <label class="radio-inline">
                <input type="radio"
                       value="MeNotifierTelephone"
                       id="notificationId"
                       formControlName="notification">&nbsp;Me notifier par SMS
              </label>
              &nbsp;&nbsp;&nbsp;
              <label class="radio-inline">
                <input type="radio"
                       value="MeNotifierCourriel"
                       id="notificationId"
                       formControlName="notification">&nbsp;Me notifier par Courriel
              </label>            
        </div>
      </div>
      <div class="form-group row">
        <label for="telephoneId" class="col-sm-2 col-form-label text-right">Téléphone (SMS):</label>
        <div class="col-md-10">
          <input type="text" 
          class="form-control" 
          id="telephoneId" 
          placeholder="Entrez 10 chiffres seulement. Par exemple 5141118888" 
          formControlName="telephone"
          [ngClass]="{'is-invalid': (problemeForm.get('telephone').touched ||
          problemeForm.get('telephone').dirty) &&
          problemeForm.get('telephone').errors
           ,
          'is-valid': (problemeForm.get('telephone').touched ||
          problemeForm.get('telephone').dirty) &&
          !problemeForm.get('telephone').errors }"
          />
            <span class ="form-text" *ngIf="(problemeForm.get('telephone').touched ||
              problemeForm.get('telephone').dirty) &&
              problemeForm.get('telephone').errors">       
                <span *ngIf="problemeForm.get('telephone').errors.minlength">
                  <small class="text-muted">
                    Veuillez entrez plus de numéro.
                 </small>
               
              </span>
              
                <span *ngIf="problemeForm.get('telephone').errors.maxlength">
                  <small class="text-muted">
                    Veuillez entrez moins de numéro.
                 </small>
                </span>

                <span *ngIf="problemeForm.get('telephone').errors.pattern">
                  <small class="text-muted">
                    Veuillez entrez seulement des chiffres.
                 </small>
                </span>

                <span *ngIf="problemeForm.get('telephone').errors.required">
                  <small class="text-muted">
                    Veuillez entrez un numéro de téléphone de 10 chiffres.
                 </small>
                </span>
                
                
            </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="courrielId" class="col-sm-2 col-form-label text-right">Adresse courriel:</label>
        <div class="col-md-10" formGroupName="courrielGroup">
          <input type="text" 
          class="form-control" 
          id="courrielId" 
          placeholder="Courriel (obligatoire si notification par courriel)" 
          formControlName="courriel"
          [ngClass]="{'is-invalid': (problemeForm.get('courrielGroup.courriel').touched ||
          problemeForm.get('courrielGroup.courriel').dirty) &&
          problemeForm.get('courrielGroup.courriel').errors
           ,
          'is-valid': (problemeForm.get('courrielGroup.courriel').touched ||
          problemeForm.get('courrielGroup.courriel').dirty) &&
          !problemeForm.get('courrielGroup.courriel').errors }"
          />
          <span class ="form-text" *ngIf="(problemeForm.get('courrielGroup.courriel').touched ||
              problemeForm.get('courrielGroup.courriel').dirty) &&
              problemeForm.get('courrielGroup.courriel').errors">       
                <span *ngIf="problemeForm.get('courrielGroup.courriel').errors.email">
                  <small class="text-muted">
                    Veuillez entrez un courriel format aaa@bbb.ccc.
                 </small>         
              </span>             

                <span *ngIf="problemeForm.get('courrielGroup.courriel').errors.required">
                  <small class="text-muted">
                    Veuillez entrez un courriel.
                 </small>
                </span>
                
                
            </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="validerCourrielId" class="col-sm-2 col-form-label text-right">Confirmer courriel:</label>
        <div class="col-md-10" formGroupName="courrielGroup">
          <input type="text" 
          class="form-control" 
          id="validerCourrielId" 
          placeholder="Entrez à nouveau le courriel (obligatoire si notification par courriel)" 
          formControlName="validerCourriel"
          [ngClass]="{'is-invalid': (problemeForm.get('courrielGroup.validerCourriel').touched ||
          problemeForm.get('courrielGroup.validerCourriel').dirty) &&
          !problemeForm.get('courrielGroup.validerCourriel').valid || problemeForm.get('courrielGroup').errors?.courrielConfirmation
           ,
          'is-valid': (problemeForm.get('courrielGroup.validerCourriel').touched ||
          problemeForm.get('courrielGroup.validerCourriel').dirty) &&
          problemeForm.get('courrielGroup.validerCourriel').valid }"
          />
          <span class ="form-text" *ngIf="(problemeForm.get('courrielGroup.validerCourriel').touched ||
          problemeForm.get('courrielGroup.validerCourriel').dirty) &&
          problemeForm.get('courrielGroup.validerCourriel').errors || problemeForm.get('courrielGroup').errors">       
            <span *ngIf="problemeForm.get('courrielGroup.validerCourriel').errors?.email">
              <small class="text-muted">
                Veuillez entrez un courriel format aaa@bbb.ccc.
             </small>         
          </span>             

            <span *ngIf="problemeForm.get('courrielGroup.validerCourriel').errors?.required">
              <small class="text-muted">
                Veuillez entrez un courriel.
             </small>
            </span>

            <span *ngIf="problemeForm.get('courrielGroup').errors?.courrielConfirmation">
              <small class="text-muted">
                Veuillez entrez le même courriel.
             </small>
            </span>
            
            
        </span>
        </div>
      </div>
      <!-- Zone de texte # Unité  -->        
<div class="form-group row">          
	<label for="noUniteId" class="col-md-2 col-form-label text-right"># Unité :</label>
	<div class="col-md-10">
	  <input class="form-control" 
	  id="noUniteId" 
	  type="text" 
	  placeholder="Numéro de l'unité si connu" 
	  formControlName="noUnite" />
	</div>
  </div>      

<!-- Zone de texte DESCRIPTION DU PROBLÈME  -->        
<div class="form-group row">          
	<label for="descriptionProblemeId" class="col-md-2 col-form-label text-right">Description du problème :</label>
	<div class="col-md-10">
	  <textarea class="form-control" 
	  rows="3"              
	  id="descriptionProblemeId" 
	  type="text" 
	  placeholder="Décrire le propblème ici (obligatoire)" 
	  formControlName="descriptionProbleme"            
	  [ngClass]="{'is-valid': (problemeForm.get('descriptionProbleme').touched || problemeForm.get('descriptionProbleme').dirty) &&
			problemeForm.get('descriptionProbleme').valid, 
			'is-invalid': (problemeForm.get('descriptionProbleme').touched || problemeForm.get('descriptionProbleme').dirty) &&
			!problemeForm.get('descriptionProbleme').valid }"></textarea>

	  <span class="form-text" *ngIf="(problemeForm.get('descriptionProbleme').touched || 
			problemeForm.get('descriptionProbleme').dirty) && 
			problemeForm.get('descriptionProbleme').errors">

			<span *ngIf="problemeForm.get('descriptionProbleme').errors.required">
				<small  class="text-muted">
				   N'oubliez pas de décriree le plus clairement possible le problème rencontré.
				</small>
			</span> 

			<span *ngIf="problemeForm.get('descriptionProbleme').errors.minlength">
			  <small  class="text-muted">
				La description du problème doit comporter plus de 5 caractères.
			  </small> 
			</span>       
	  </span>
	</div>
  </div>

<!-- Zone de texte # Unité  -->        
<div class="form-group row">          
	<label for="dateProblemeId" class="col-md-2 col-form-label text-right">Date :</label>
	<div class="col-md-10">
	  <input class="form-control" 
	  id="dateProblemeId" 
	  type="text" 
	  formControlName="dateProbleme" />
	</div>
  </div> 


    </form>
    <div class="form-group row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
      <span>
      <button class="btn btn-primary"
      type="submit"
      [disabled]="!problemeForm.valid">
      <fa name="save"></fa>
      &nbsp;&nbsp;Sauvegarder
      </button>
      </span>
      </div>
      </div>
  </div>
</div>
</div>